{% extends 'index.html' %}
{% load static %}

{% block body_content %}

{% load crispy_forms_tags %}
<header class="masthead" style="background-image: url({% static 'assets/img/password.jpg' %})">
</header>
<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Réinitialisation du mot de passe</h2>
    <hr>
    <p>Entrez votre nouveau mot de passe.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <button class="btn btn-primary" type="submit">Réinitialiser</button>
    </form>
</div>

{% endblock %}