{% extends "index.html" %}
{% load static %}

{% block body_content %}

<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url({% static 'assets/img/huge-umbrellas-5571859_1920.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Moteur d'identification</h1>
                        <span class="subheading">Question 3</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <section class="page-section">
        <div class="row text-center justify-content-center align-items-centers">
            <p class="text-primary">Vous avez sélectionné <b>{{ color_top }}</b> pour la couleur du chapeau</p>
            <p class="text-primary">Vous avez sélectionné <b>{{ form }}</b> pour le dessous du chapeau</p>
            <h2 class="post-title text-primary">Quelle est la couleur en-dessous du chapeau ? </h2>
            <p><i>Note: Les couleurs peuvent parfois être ambiguës ou multiples. Le moteur essaie d'en tenir compte. Désignez la
                    couleur la plus dominante selon vous</i></p>
            <hr class="my-4" />
            <div class="col">
                <a href="{% url 'engine4' color_top=color_top form=form color_under='blanc' %}"><img class
                        src="{% static 'assets/img/blanc_bas.jpg' %}"></a>
                <p>Blanc, crème, ou gris</p>
            </div>
            <div class="col">
                <a href="{% url 'engine4' color_top=color_top form=form color_under='brun' %}"><img class
                        src="{% static 'assets/img/brun_bas.jpg' %}"></a>
                <p>Brun ou noir</p>
            </div>
            <div class="col">
                <a href="{% url 'engine4' color_top=color_top form=form color_under='rouge' %}"><img class
                        src="{% static 'assets/img/rouge_bas.jpg' %}"></a>
                <p>Rouge</p>
            </div>
            <div class="col">
                <a href="{% url 'engine4' color_top=color_top form=form color_under='jaune' %}"><img class
                        src="{% static 'assets/img/tubes.jpg' %}"></a>
                <p>Jaune, orange ou ocre</p>
            </div>
            <div class="col">
                <a href="{% url 'engine4' color_top=color_top form=form color_under='autre' %}"><img class
                        src="{% static 'assets/img/autre_bas.jpg' %}"></a>
                <p>Autre (bleu, violet etc...)</p>
            </div>
        </div>
    </section>
</body>

{% endblock %}