{% extends "index.html" %}

{% block body_content %}

<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/static/assets/img/huge-umbrellas-5571859_1920.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Moteur d'identification</h1>
                        <span class="subheading">Question 2</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <section class="page-section">
        <div class="row text-center justify-content-center align-items-centers">
            <p class="text-primary">Vous avez sélectionné <b>{{ color_top }}</b> pour la couleur du chapeau</p>
            <h2 class="post-title text-primary">Comment est le dessous du Chapeau ? </h2>
            <hr class="my-4" />
            <div class="col">
                <a href="{% url 'engine3' color_top=color_top form='lamelles' %}"><img class src="/static/assets/img/lamelles.jpg"></a>
                <p>En lamelles</p>
            </div>
            <div class="col">
                <a href="{% url 'engine3' color_top=color_top form='tubes' %}"><img class src="/static/assets/img/tubes.jpg"></a>
                <p>En tubes</p>
            </div>
            <div class="col">
                <a href="{% url 'engine3' color_top=color_top form='plis fourchus' %}"><img class src="/static/assets/img/jaune.jpg"></a>
                <p>En plis fourchus</p>
            </div>
            <div class="col">
                <a href="{% url 'engine3' color_top=color_top form='aiguillons' %}"><img class src="/static/assets/img/aiguillons.jpg"></a>
                <p>En aiguillons</p>
            </div>
            <div class="col">
                <a href="{% url 'engine3' color_top=color_top form='ni lamelles ni tubes' %}"><img class src="/static/assets/img/none.jpg"></a>
                <p>Ni lamelles ni tubes</p>
            </div>
        </div>
    </section>
</body>

{% endblock %}