{% extends "index.html" %}

{% block body_content %}

<header class="masthead" style="background-image: url('/static/assets/img/huge-umbrellas-5571859_1920.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <class class="site-heading">
                    <h1>Informations</h1>
                    <span class="subheading">informations importantes, mentions légales et remerciements</span>
                </class>
            </div>
        </div>
    </div>
</header>
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
    <div class="bg-white col-10 col-lg-6 rounded">
        <img src="/static/assets/img/clipart343879.png" WIDTH=75 HEIGHT=75 />
        <h3 class="text-primary mt-3 text-center"> Avertisssement </h3>
        <p>Ce site ne contient pas toutes les espèces de champignons qui existent. Par ailleurs, nombreuses sont encore
            à
            découvrir. Il s’agit avant tout d’une aide à l’identification. En cas de doute il vaut mieux s’abstenir. De
            plus,
            l'aspect d’un champignon peut varier au cours du temps. Certaines espèces comestibles peuvent ressembler et
            être
            confondues avec d'autres espèces toxiques. Si le moindre doute persiste, renoncez à votre cueillette.
            L'auteur du site décline toute responsabilité dans vos décisions.</p>
    </div>
</div>
<hr class="my-4" />
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
    <div class="bg-white col-10 col-lg-6 rounded">
        <h3 class="text-primary mt-3 text-center"> Informations générales</h3>
        <p>Ce site a été codé par <b>Jean-Maxime GUTH</b> amateur de randonnée et de bons plats d'automne aux
            champignons forestiers.
            Étudiant développeur d'application au moment du développement du site, ce projet a été développé dans le
            cadre d’un
            projet d’étude.</p>
    </div>
</div>
<hr class="my-4" />
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
    <div class="bg-white col-10 col-lg-6 rounded">
        <h3 class="text-primary mt-3 text-center"> Remerciements</h3>
        <p>Remerciements tout particuliers à <b>Mathieu ANDRO</b> qui a publiquement mis à disposition les données
            mycologiques
            nécessaires sur <a
                href="https://www.data.gouv.fr/fr/datasets/donnees-du-site-identifier-les-champignons-com"
                class="link-primary">data.gouv</a>
            provenant de son
            site <a href="https://identifier-les-champignons.com"
                class="link-primary">identifier-les-champignons.com</a> sans lequelles ce
            travail n’aurait pu être possible.</p>
    </div>
</div>
<hr class="my-4" />
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center">
    <div class="bg-white col-10 col-lg-6 rounded">
        <h3 class="text-primary mt-3 text-center"> Mentions légales </h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="text-primary">Développeur & responsable de publication</td>
                    <td> Jean-Maxime GUTH</td>
                <tr>
                <tr>
                    <td class="text-primary">Adresse email</td>
                    <td>guth.jeanmaxime@gmail.com</td>
                <tr>
                <tr>
                    <td class="text-primary">Données publiques mycologiques</td>
                    <td>https://www.data.gouv.fr/fr/datasets/donnees-du-site-identifier-les-champignons-com/</td>
                <tr>
                <tr>
                    <td class="text-primary">Images des champignons</td>
                    <td>Wikipedia</td>
                <tr>
                <tr>
                    <td class="text-primary">Images d'illustrations</td>
                    <td>Pexel.com & Pixabay.com (images libre de droit)</td>
                <tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}