{% extends 'index.html' %}

{% block body_content %}

{% load crispy_forms_tags %}
<header class="masthead" style="background-image: url('/static/assets/img/password.jpg')">
</header>
<!--Reset Password-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Réinitialiser votre mot de passe</h2>
    <hr>
    <p>Vous avez oublié votre mot de passe ? Renseignez votre email et suivez les instructions.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <hr>
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
    
    {% for message in messages %}
    <div class=" mt-3 alert alert-success">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
</div>

{% endblock %}