{% extends "index.html" %}

{% block body_content %}

<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/static/assets/img/mushroom-3879363_1920.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Les mauvais comestibles</h1>
                        <span class="subheading">Ils peuvent être consommés, mais leur intérêt culinaire est nul ou leur goût mauvais. A rejeter pour la plupart.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <section class="page-section">
        <div class="row text-center justify-content-center align-items-centers">
            <h4 class="text-primary">Voir les autres groupes de comestibilité</h4>
            <p class="text-primary">(cliquer sur l'icone pour afficher le groupe souhaité)</p>
            <hr class="my-4" />
        </div>
        <div class="row text-center justify-content-center align-items-centers">
            <div class="col">
                <a href="{% url 'sort_by_edible_very_good' %}"><img src="/static/assets/img/excellent.png" WIDTH=50
                        HEIGHT=50 /> </a>
                <p>Bon comestible<p>
            </div>
            <div class="col">
                <a href="{% url 'sort_by_edible_good' %}"><img
                        src="/static/assets/img/pngfind.com-thumbs-up-icon-png-59727.png" WIDTH=50 HEIGHT=50 /></a>
                <p>Comestible</p>
            </div>
            <div class="col">
                <a href="{% url 'sort_by_edible_bad_good' %}"><img src="/static/assets/img/orange.png" WIDTH=50
                        HEIGHT=50 /></a>
                <p>Mauvais comestible</p>
            </div>
            <div class="col">
                <a href="{% url 'sort_by_edible_bad' %}"><img src="/static/assets/img/Daco_4461294.png" WIDTH=50
                        HEIGHT=50 /></a>
                <p>Non comestible</p>
            </div>
            <div class="col">
                <a href="{% url 'sort_by_edible_toxic' %}"><img src="/static/assets/img/clipart343879.png" WIDTH=50
                        HEIGHT=50 /></a>
                <p>Toxique</p>
            </div>
            <div class="col">
                <a href="{% url 'sort_by_edible_deadly' %}"><img
                        src="/static/assets/img/SeekPng.com_red-skull-png_497283.png" WIDTH=50 HEIGHT=50 /></a>
                <p>Mortel</p>
            </div>
            <div class="col">
                <img src="/static/assets/img/pngegg.png" WIDTH=50 HEIGHT=50 />
                <p>Inconnu (déconseillé)</p>
            </div>
        </div>
        <hr class="my-4" />
    </section>
    <section class="page-section">
        <div class="row text-center justify-content-center align-items-centers">
            {% for mushroom in mushrooms %}
            <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
                <div class="card mx-3 shadow p-3 mb-5 bg_white border-primary rounded flex-fill">
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/orange.png" WIDTH=50 HEIGHT=50 />
                    </div>
                    <img class="card-img-top" src="{{ mushroom.image }}" style="object-fit: contain; height: 20em" />
                    <div class="card-body">
                        <div class="text-primary"><br> {{ mushroom.espece }} <br></div>
                        <div class="text-secondary"> <em>{{ mushroom.nom_vernaculaire }}</em><br><br></div>
                        <div class="text-secondary"> <em>{{ mushroom.comestibilite }}</em><br><br></div>
                    </div>
                    <div class="card-footer row">
                        {% if user.is_authenticated %}
                            {% if mushroom.is_fav %}
                            <a href="{% url 'add_or_remove_favorite' mushroom.id %}" class="bi bi-heart-fill" style="font-size: 2rem" role="button"
                                data-toggle="tooltip" data-placement="bottom" title="Retirer des favoris"></a>
                            {% else %}
                            <a href="{% url 'add_or_remove_favorite' mushroom.id %}" class="bi bi-heart" style="font-size: 2rem" role="button"
                                data-toggle="tooltip" data-placement="bottom" title="Ajouter aux favoris"></a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'mushroom' mushroom.id %}" class="btn btn-outline-primary mt-2"
                            role="button">Fiche complète</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr class="my-4" />
        <div class="row text-center justify-content-center align-items-centers">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <a href="{% url 'index' %}" class="btn btn-outline-primary mt-2" role="button">Page d'acceuil</a>
                <hr class="my-4" />
            </div>
        </div>
    </section>
</body>

{% endblock %}